.skill_box {
    padding: 4px;
    border-radius: 10px;
    width: fit-content;
    background-color: white;
}


.skill_box {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.skill_box .inner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 1px;
}

.skill_box .inner {
    padding: 15px;
    background: white;
    color: black;
    border-radius: 5px;
}
  


.skill_box::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 64%, 1) 0%,
    hsla(339, 100%, 55%, 1) 100%
  );
  height: 150px;
  width: 150px;
  position: absolute;
  animation: rotate 3s linear infinite;
  z-index: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}